<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Megna tempus sed amet aliquam veroeros</h1>
                        <p class="">It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Megna tempus sed amet aliquam veroeros</h1>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h1>Megna tempus sed amet aliquam veroeros</h1>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Team Member</h1>
                        <p>Megna tempus sed amet</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Marima</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Marima</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Marima</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Marima</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Nunc Dignism</h1>
                        <p>Megna tempus sed amet</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://images.pexels.com/photos/113727/pexels-photo-113727.jpeg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" />
                                <h1>Megna tempus sed</h1>
                                <p>Various versions have evolved over the years, sometimes by accident, sometimes on
                                    purpose (injected humour and the like).</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://images.pexels.com/photos/113727/pexels-photo-113727.jpeg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" />
                                <h1>Megna tempus sed</h1>
                                <p>Various versions have evolved over the years, sometimes by accident, sometimes on
                                    purpose (injected humour and the like).</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>